#box {
  border: 2px solid black;
  height: 200px;
  width: 180px;
  padding: 10px;
  margin-left: 40%;
  margin-top: 10%;
  border-radius: 4px;
}
button {
  border: 1px solid brown;
  padding: 8px 13px;
  border-radius: 3px;
  margin-left: 50px;
  background-color: rgb(46, 44, 176);
  color: white;
}
h3 {
  margin-left: 55px;
}
